/* Styles for the navigation bar */
nav {
    background-color: #2e111a; /* Change to your preferred color */
    padding: 10px;
  }
  
  /* Styles for the list of navigation items */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  /* Styles for the links in the navigation bar */
  nav ul li a {
    color: white; /* Change to your preferred color */
    text-decoration: none;
    padding: 10px 20px;
  }
  
  /* Styles for links when hovered over */
  nav ul li a:hover {
    background-color: #2e111a; /* Change to your preferred hover color */
  }
  